@import "tailwindcss";

:root {
  --background: #f8f8f8;
  --foreground: #1a1a1a;
  --muted: #666666;
  --border: #e5e5e5;
}



@media (prefers-color-scheme: dark) {
  :root {
    --background: #1a1a1a;
    --foreground: #f8f8f8;
    --muted: #cccccc;
    --border: #333333;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}